{% extends "index.html" %}

{% block title %}{{ super() }} - Contact{% endblock %}

{% block content %}
    <style>
    .list-group-item{
        background-color: transparent;
    }
    </style>
    <div class="container">
    <h1>Contact</h1>
        <ul class="list-group" style="list-style-type:none;">
            <li class="list-group-item"><img src="{{ url_for('static', filename='images/instagram-512.png') }}" width="40px"
                                             height="40px"/></li>
            <li><a href="https://www.instagram.com/anavictorialucio/" target="_blank" style="color:white;">@anavictorialucio</a>
            </li>
            <li class="list-group-item"><img src="{{ url_for('static', filename='images/mail-512.png') }}" width="40px"
                                             height="40px"/></li>
            <li><a href="mailto:catalan.lucio11@gmail.com" style="color:white;">catalan.lucio11@gmail.com</a></li>
            <li class="list-group-item"><img src="{{ url_for('static', filename='images/youtube-3-512.png') }}" width="40px"
                                             height="40px"/></li>
            <li><a href="https://www.youtube.com/channel/UC646MSL1eo9kqt7Owi1Lftw?view_as=subscriber"
                   style="color:white;">Ana Victoria Lucio</a></li>
        </ul>
    </div>
{% endblock %}
