{% extends "index.html" %}

{% block title %}{{ super() }} - Projects{% endblock %}

{% block content %}
    <style>
    p{
        color: grey;
    }
    </style>

     <div class="container">
        <h1>The Glome</h1>
         <h2>Entertainment</h2>
        <p>The Glome gathers industry experts and artists from Montreal<br>
            around innovative tech and artistic projects.<br>
            We explore different creative horizons where<br>
            technology and entertainment meet.
        </p>
        <br>
     <p>Pojects to come...</p>

    </div>
{% endblock %}
